@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.woff2?t=1692608124058') format('woff2'),
        url('../fonts/iconfont.woff?t=1692608124058') format('woff'),
        url('../fonts/iconfont.ttf?t=1692608124058') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
    font: 12px/31px 宋体;
}

.shortcut ul li {
    float: left;
}