@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.woff2?t=1692608124058') format('woff2'),
        url('../fonts/iconfont.woff?t=1692608124058') format('woff'),
        url('../fonts/iconfont.ttf?t=1692608124058') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

w {
    width: 1200px;
    margin: 0 auto;
}