.w {
    width: 1200px;
    margin: 0 auto;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.woff2?t=1692608124058') format('woff2'),
        url('../fonts/iconfont.woff?t=1692608124058') format('woff'),
        url('../fonts/iconfont.ttf?t=1692608124058') format('truetype');
}

.shortcut {
    height: 32px;
    background-color: #f1f1f1;
    line-height: 32px;
    font-size: 12px;
}

.style_red1 {
    color: #cb333b;
}

.style_red2 {
    color: #b1191a;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.shortcut .f-r ul li {
    float: left;
}

.shortcut .f-r ul li a {
    display: inline-block;
    padding: 0 15px;
}

.shortcut .f-r ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    margin-top: 10px;
    background-color: #666;
}

.arrow-down::after {
    content: '\e6fe';
    font-family: iconfont;
    margin-left: 8px;
}

header {
    position: relative;
    height: 104px;
}

.logo img {
    position: absolute;
    top: 24px;
}

.sk-line {
    position: absolute;
    left: 185px;
    top: 39px;
    width: 1px;
    height: 26px;
    background-color: #c81523;
}

.sk-logo {
    position: absolute;
    left: 195px;
    top: 39px;
}

.header-bd {
    left: 348px;
    top: 24px;
    position: absolute;
    width: 537px;
    height: 35px;
}

.search input {
    float: left;
    width: 455px;
    height: 35px;
    border-top: 2px solid #b1191a;
    border-bottom: 2px solid #b1191a;
    border-left: 2px solid #b1191a;
    padding-left: 5px;
}

.search button {
    float: left;
    width: 82px;
    height: 35px;
    color: #fff;
    background-color: #b1191a;
}

.header-nav {
    position: absolute;
    left: 348px;
    top: 59px;
    width: 455px;
    height: 30px;
    line-height: 30px;
}

.hotword {
    height: 30px;
    line-height: 30px;
}

.hotword ul li {
    float: left;
}

.hotword ul li a {
    padding: 0 10px;
}

.shopcar {
    position: absolute;
    right: 62px;
    top: 24px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #f7f7f7;
}

.shopcar::before {
    content: '\e605';
    font-family: iconfont;
    margin-right: 5px;
    color: #b1191a;
}

.shopcar::after {
    content: '\e6ff';
    font-family: iconfont;
    margin-left: 20px;
}

.shopcar em {
    display: inline-block;
    position: absolute;
    left: 98px;
    top: -8px;
    height: 16px;
    padding: 0 5px;
    line-height: 16px;
    text-align: center;
    background-color: #b1191a;
    font-style: normal;
    color: #fff;
    border-radius: 8px 8px 8px 0;
}

nav {
    height: 46px;
    border-bottom: 2px solid #b1191a;
    line-height: 46px;
}

nav ul li {
    padding: 0 24px;
    float: left;
}

nav ul li:nth-child(-n+3) a {
    font: 700 16px Microsoft YaHei;
    color: #000;
}

nav ul li:nth-child(n+4) a {
    font-size: 14px;
}

nav ul li:last-of-type a::after {
    content: '\e6fe';
    font-family: iconfont;
}

.list-image img {
    float: left;
    width: 1200px;
}

.list {
    position: relative;
}


.list-image p:nth-child(1) {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 700;
    color: #c81523;
}

.list-image p:nth-child(1)::before {
    content: '\e600';
    font-family: iconfont;
}

.list-image p:nth-child(2) {
    margin-top: 20px;
    font-size: 16px;
    color: #000;
}

.list-image {
    overflow: hidden;
    width: 1200px;
    height: 120px;
    background: url(../images/list_banner.png) no-repeat;
    text-align: center;
}

.panic-buy {
    position: relative;
    display: inline-block;
    width: 208px;
    margin-top: 20px;
    font-size: 16px;
    color: #000;
}

.panic-buy::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 1px;
    content: ' ';
    background-color: #000;
}

.panic-buy::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 1px;
    content: ' ';
    background-color: #000;
}

.list-item {
    margin-top: 25px;
    overflow: hidden;
}

.list-item ul li {
    float: left;
    width: 290px;
    height: 461px;
    margin-right: 13px;
    border: 1px solid transparent;
}

.list-item ul li:hover {
    border: 1px solid #b1191a;
}

.item-info {
    padding: 0 12px;
}

.item-img {
    padding-top: 20px;
    height: 298px;
    text-align: center;
}

.list-img img {
    width: 127px;
}

.item-decs {
    font: 14px 宋体;
}

.item-price {
    margin-top: 16px;
    font-size: 22px;
    color: #e60012;
}

.item-price del {
    font-size: 14px;
    color: #666;
}

.item-buy-info {
    margin-top: 10px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}

/*对应CSS*/
.item-progress {
    display: inline-block;
    width: 135px;
    height: 14px;
    border: 1px solid #ed282e;
    border-radius: 7px;
    /*重点研究*/
    overflow: hidden;
    /*阴影*/
    /* box-shadow: 0 0 5px 0px #ddd inset; */
}

.item-progress span {
    display: inline-block;
    width: 70%;
    height: 100%;
    background-color: #ed282e;
    color: #fff;
    vertical-align: top;
}

.item-btn {
    margin-top: 10px;
}

.item-btn button {
    width: 100%;
    height: 36px;
    background-color: #b1191a;
    color: #fff;
}

.list-item ul li:nth-child(4n) {
    margin-right: 0;
}

.list-item ul li:nth-child(n+5) {
    margin-top: 20px;
}

footer {
    margin-top: 280px;
    height: 423px;
    background-color: #f5f5f5;
}

footer .footer-logo {
    height: 110x;
    padding: 30px 0 30px 36px;
}